:host {
    font-family: "Courier New", Roboto, sans-serif !important;
}

.console-input {
    outline: none !important;
    color: white !important;
    border: none !important;
    background-color: black !important;
}
