.riddle-container {
    border: 4px white double;
}
.header-title {
    color: white;
    mix-blend-mode: difference;
    z-index: 1;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-100%);
    position: absolute;
}
