<div class="container-fluid my-5">
    <div class="row">
        <div class="col p-0 overflow-hidden position-relative" [ngStyle]="{'max-height': '800px'}">
            <h1 class="divider font-size-50 text-white text-center text-entrance caligraphy header-title">Unlock your mind</h1>
            <img src="assets/bg/floral-2.jpg" width="100%" class="img-fluid" alt="image" #bg>
            <app-divider-skew></app-divider-skew>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col m-5 text-white">
            <p class="text-center font-size-28 px-3 py-0 caligraphy">
                Every dawn begins with me,
                <br>
                At <span [class.glitch]="!!config.config$.getValue()?.hint1" data-text="d">d</span>usk I'll be the first you see,
                <br>
                And <span [class.glitch]="!!config.config$.getValue()?.hint1" data-text="d">d</span>aybreak couldn't come without
                <br>
                What mi<span [class.glitch]="!!config.config$.getValue()?.hint1" data-text="dd">dd</span>ay centers all about.
                <br>
                <span [class.glitch]="!!config.config$.getValue()?.hint1" data-text="D">D</span>aisies grow from me, I'm told
                <br>
                And when I come, I end all col<span [class.glitch]="!!config.config$.getValue()?.hint1" data-text="d">d</span>,
                <br>
                But in the sun I won't be found,
                <br>
                Yet still, each <span [class.glitch]="!!config.config$.getValue()?.hint1" data-text="d">d</span>ay I'll be around.
                <br>
                <span class="divider text-white py-5"><i class="la la-pagelines"></i></span>
            </p>
        </div>
    </div>
</div>
