<nav class="navbar fixed-top navbar-expand-md navbar-dark border-bottom theme-bg" *ngIf="navService.showNavBar$.getValue()">
    <img class="mr-2" (click)="iconClick($event)" width="32" height="32" src="assets/icons/vintage-key-white.png">
    <a class="navbar-brand basic-hover px-1" [routerLink]="'/'">
        <span class="text-break">Locke Corp</span>
    </a>
    <button class="navbar-toggler"
            type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="la la-list"></i>
    </button>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto flex-nowrap">
            <a class="nav-item nav-link pointer glitch" data-text="Contact_us" [routerLink]="['/contact']">Contact us</a>
        </div>
    </div>
</nav>
